body{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    
}

#top-page{

}

#container-top{
    margin-left: -8px;
    margin-right: -8px;
    font-size: 100px;
    font-family: 'Aleo', serif;
    font-weight: 500;
}

#shs-logo{
    padding: 10px 200px;
    margin-bottom:-15px;
}

.header{
    text-align: center;
    margin-top: -260px;
    margin-bottom:-50px;
}

#header-middle{
    z-index: 1;
    overflow:hidden;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: auto;
    Background:#1a358f;
    text-align:center;
    margin: -8px;
}

.BTN{
    text-decoration: none;
}

button{
    color:silver;
    font-weight:700;
    text-decoration: none;
    border:none;
    background-color: #1a358f;
    padding: 15px 80px;
    font-size: 20px;
    cursor: pointer;
    display: inline;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    text-transform: uppercase;
}

/* #home-button{
    float: left;
    margin-left:200px;
} */

#button-1{
    padding-left: 100px;
    padding-right:100px;
}

button:hover{
    Background-color: Silver;
    color:#1a358f;
}

button:focus{
    outline: none;
}

#Shopping-cart{
    font-size:23px;
    margin-right:-90px;
    padding-left:80px; 
    color:silver;
    margin-top: 15px;
    position:absolute;
}

#coverpage{
    width: 100%;
    height:30%;
}

.title-1{
    margin-bottom:2px;
    padding-top:5px;
    margin-left: 18%;
    font-weight:500;
    font-family: 'Baloo Thambi', cursive;
}

.title-2{
    margin-left: 18%;
    font-weight:500;
    font-family: 'Baloo Thambi', cursive;
}

.title-3{
    margin-left: 18%;
    font-weight:500;
    font-family: 'Baloo Thambi', cursive;
}

.cart{
    text-decoration: none;
    outline:none;
    color:white;
}

.cart:hover{
    color:silver;
}

#T-shirts-container{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    width: 65%;    
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

}

.T-shirt-boxes{
    background-color: #d8d8d8;
    width:auto;
    height:auto;
    display: inline-block;
    flex-grow:1;
    margin:5px;

}

.Shirts{
    width:16em;
    padding: 20px;
}

#Hoodies-container{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    width: 65%;    
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

}

.hoodies-boxes{
    background-color: #d8d8d8;
    width:auto;
    height:auto;
    display: inline-block;
    flex-grow:1;
    margin:5px;

}

.Hoodies{
    width:16em;
    padding: 20px;
}


#Hats-container{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    width: 65%;    
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

}

.hats-boxes{
    background-color: #d8d8d8;
    width:auto;
    height:auto;
    display: inline-block;
    flex-grow:1;
    margin:5px;

}

.Hats{
    width:16em;
    padding: 20px;
}


figure { 
    display: block; 
    position: relative; 
    overflow: hidden; 
    width:auto;
}

figcaption { 
    position: absolute; 
    background: rgba(0,0,0,0.75); 
    color: white; 
    padding: 10px 20px;
    width:90%;
    text-align: center;
    line-height: 25px;
  
    opacity: 0;
    bottom: 0; 
    left: 0;
    top: 75%;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}
  
  figure:hover figcaption {
    opacity: 1;
    left: 0;
}
  
